/* smooth scroll */
html{
    scroll-behavior: smooth;
}

/* navbar */
nav{
    background-color: grey;
    border-radius: 10px;
}

/* navbar */
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

/* link */
a{
    text-decoration: none;
    color: white;
}

/* h1  */
h1{
    text-align: center;
}

/* home */
#home{
    text-align: center;
}

/* h2 */
h2{
    text-align: center;
}

/* paragraph */
p{
    padding: 20px;
}

/* image */
img{
    border-radius: 10px;
    width: 40%;
}

/* video */
video{
margin: auto;
    border-radius: 10px;
    width: 70%;
}

/* iframe */
iframe{
    width: 50%;
    height: 70%;
}

/* form */
form{
    text-align: center;
}
textarea{
    resize: none;
}

/* table */
table{
    text-align: center;
    margin: auto;
    padding: 20px;
}

